﻿@model Bivek_SImpleToDoApp.Models.TodoIndexModel

<div id="todoTaskWrap">
    <div class="divAddNewBtn">
        <a asp-action="Create" asp-controller="Todo" class="btn btn-primary">Add New</a>
    </div>
    <div id="todoTaskList">
        <table class="table">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Tasks)
                {
                    <tr>
                        <td>
                            @item.Task
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @item.TaskDate
                        </td>
                        <td>
                            @if ((bool)item.IsComplete)
                            {
                                <span style="color:lawngreen;">Completed</span>
                            }
                            else
                            {
                                <span style="color:orangered;">Remaining</span>
                            }
                        </td>
                        <td>
                            @if (!(bool)item.IsComplete)
                            {
                                <a asp-action="SetComplete" asp-route-id="@item.Id " onclick="return confirm('Are you sure you want to set the task as completed?')">
                                    <i class="fa fa-check"></i>Done
                                </a>
                                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa far fa-edit"></i>Edit</a>
                            }
                                <a asp-action="DeleteTask" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete @item.Task ?')"><i class="fa far fa-delete"></i>Delete</a>
                            </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
